<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ParallelCount" value="10"/>
    <add key="PathToGifDirectory" value="/Gifs"/>
    <add key="ProxyHostName" value="96.113.166.133"/>
    <add key="ProxyPort" value="1080"/>
    <add key="ApiBotToken" value="PUT_YOUR_BOT_TOKEN_HERE"/>
  </appSettings>
</configuration>